@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: #314755;
  background: linear-gradient(to right, #26a0da, #314755);
  color: #ffffff;
  font-family: "Fira Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.35;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Instructions-section */

.instructions-section {
    background-color: #fafafafa;
    max-width: 60rem;
    width: 98%;
    margin: 5rem auto;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.instructions-title {
    font-size: 3.2rem;
    font-weight: 700;
    padding-bottom: 1rem;
    text-align: center;
    color: #2f89ff;
    text-transform: uppercase;
}

.instructions-title > i {
    font-size: 2.7rem;
    padding-left: 0.5rem;
}

.instructions-text {
    font-size: 1.8rem;
    padding-bottom: 0.8rem;
    padding-left: 0.65rem;
    color: black;
}

.instructions-list {
    margin-left: 2.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
}

.instructions-list > li {
    margin-bottom: 0.25rem;
    color: black;
}

.btn-start {
    display: block;
    font-family: inherit;
    padding: 0.65rem 2.5rem;
    background-color: green;
    color: #fafafa;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0 auto;
    margin-top: 2.5rem;
    border: 0;
    border-radius: 0.5rem;
    cursor: pointer;
}

/* Quiz section */

.quiz-form,
.result-container {
  max-width: 800px;
  width: min(100% - 30px);
  margin: 0 auto;
  background-color: #ffffff;
  color: #212121;
  border-radius: 5px;
  padding: 1.5rem;
}

.result-container {
  display: none;
}

.quiz-title {
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
}

.quiz-header {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid #dddddd;
}

#time {
  padding: 8px 12px;
  background-color: #b92626;
  color: #ffffff;
  border-radius: 5px;
  font-size: 1.8rem;
}

#number {
  font-size: 2.2rem;
  font-weight: 600;
  color: #314755;
}

#previous {
    font-size: 2.2rem;
    font-weight: 600;
    color: #314755;
}

.form-group {
  margin: 1.5rem 0;
}

.choices {
  margin-top: 1rem;
}

#quote {
  font-size: 1.8rem;
  font-weight: 600;
}

.form-control {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.form-control > input {
  font-family: inherit;
  display: block;
  width: 16px;
  height: 16px;
  accent-color: #2799cf;
  cursor: pointer;
}

.ans-choice {
  font-size: 1.8rem;
}

.quiz-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  border-top: 2px solid #dddddd;
}

.score {
  background-color: transparent;
  color: #2799cf;
  border: 2px solid #2799cf;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 1.8rem;
  font-weight: 500;
}

.btn-submit {
  font-family: inherit;
  display: block;
  padding: 8px;
  border: 0;
  padding: 10px 18px;
  background-color: green;
  color: #ffffff;
  border-radius: 5px;
  font-size: 1.8rem;
  font-weight: 400;
  cursor: pointer;
}

.result-container > i {
  display: block;
  font-size: 5.5rem;
  margin: 0 auto;
  text-align: center;
  color: goldenrod;
}

.result-container > p {
  font-size: 2.2rem;
  margin: 1.5rem 0;
  text-align: center;
  font-weight: 500;
}

#result {
  width: 250px;
  margin: 0 auto;
  text-align: center;
  background-color: transparent;
  color: goldenrod;
  border: 2px solid goldenrod;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 1.8rem;
  font-weight: 500;
}

#restart {
  width: fit-content;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px 18px;
  background-color: green;
  color: #ffffff;
  border-radius: 5px;
  font-size: 1.8rem;
  font-weight: 400;
  cursor: pointer;
}

/* Media Queries */

@media (max-width: 550px) {
  .quiz-footer {
    flex-direction: column;
    row-gap: 2.5rem;
  }

  .score,
  #result {
    width: 100%;
    text-align: center;
  }

  .btn-submit {
    width: 100%;
    text-align: center;
  }

  .quiz-header {
    flex-direction: column;
    row-gap: 1.5rem;
  }

  #time {
    display: block;
    width: 100%;
    text-align: center;
    height: 42px;
  }

  #number {
    order: 2;
  }
}